
.metadata/.ide.log
.metadata/.lock
.metadata/.log
.metadata/.log4j2.xml
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/IT1_CDCHID_20240530_fixsbs.1717638949537.pdom
.metadata/.plugins/org.eclipse.cdt.core/IT1_CDCHID_20240530_fixsbs.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/IT1_CDCHID_20240530_fixsbs.build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/IT1_CDCHID_20240530_fixsbs/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/IT1_CDCHID_20240530_fixsbs/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/IT1_CDCHID_20240530_fixsbs/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-IT1_CDCHID_20240530_fixsbs.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
IT1_CDCHID_20240530_fixsbs/Debug/makefile
IT1_CDCHID_20240530_fixsbs/Debug/makefile
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
IT1_CDCHID_20240530_fixsbs/Debug/makefile
